input[type='submit'],
input[type='button'],
button[type='submit'],
.btn {
  @include button();
  @include button-theme-default();

  &.primary {
    @include button-theme-primary();
  }

  &.quiet {
    @include button-theme-quiet();
  }

  &.silent {
    @include button-theme-silent();
  }
}

input[type='submit'],
input[type='button'] {
  // Submits don't have inner html so it's not possible to style ::before
  // Instead, we just simulate the "transparent gap" between the button and the
  // border, because the likelihood of a submit over a dark background is low
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.25rem $white, -0.1875rem -0.25rem 0 0.1875rem $mdYellow,
      0 0 0 0.4375rem $mdPink;
  }
}

// for the show more button on resources page
button.collapsible-toggle {
  background: $white;
  border: 1px solid $gray2;
  border-radius: 0.25em;
  padding: 0.5em;
  color: $colorText;
  margin: 0.5rem 0;
}
button.collapsible-toggle.toggled {
  display: none;
}
