body {
  font-family: $fontFamilySans;
  color: $colorText;
  font-size: 1rem;
  line-height: 2;
}

h1 {
  font-size: 1.75rem;

  @include mqMin(md) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.5rem;

  @include mqMin(md) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.25rem;

  @include mqMin(md) {
    font-size: 1.5rem;
  }
}

h1,
h2,
h3 {
  line-height: 1.25;
}

hr {
  border-top: 1px solid $colorBorder;
  border-bottom: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

blockquote {
  font-size: 1rem;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include mqMin(md) {
    font-size: 1.125rem;
  }

  p {
    &::before {
      content: '“';
    }

    &:last-child {
      &::after {
        content: '”';
      }
    }
  }

  cite,
  footer {
    margin-top: 1rem;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.25;
  }
}

.intro {
  font-size: 1rem;

  @include mqMin('lg') {
    font-size: 1.25rem;
  }
}
